aucat/*.o
aucat/Makefile
aucat/aucat

libsndio/*.o
libsndio/Makefile
libsndio/libsndio.so
libsndio/libsndio.so.7.0

midicat/Makefile
midicat/midicat
midicat/*.o

sndiod/*.o
sndiod/Makefile
sndiod/sndiod

Makefile

contrib/init.d.sndiod
contrib/sndiod.service

examples/Makefile
